body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EEDFC0;
}

.main {
    margin: auto;
    width: 85%;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 50px;
    margin: 20px 30px;
}

h2 {
    text-align: center;
}

.display {
    display: inline-block;
    width: 100%;
}

.new-person, .new-org {
    display: inline-block;
    border: 5px solid #5c5c5c;
    border-radius: 15px;
    padding: 15px;
    float: right;
}

.new-org {
    margin-right: 7%;
    width: 35%;
}

.new-person {
    float: left;
    margin-left: 10%;
    width: 30%;
}

#person-form-button, #org-form-button {
    margin-top: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 1px;
    background-color: #ebebeb;
    padding: 5px 10px;
}

li div {
    margin: 0;
}

.name, .phone, .email, .org, .type {
    display: inline-block;
    margin: 0;
    width: 50%;
}

.org-email {
    display: inline-block;
    margin: 0;
    width: 100%;
}

.type {
    color: #707070;
}

ul button {
    margin: 2px;
}
